*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #eee;
}
nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

ul {

}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;

}

ul li a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    padding: 0;
}