<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery_comments/jquery-comments.js"></script>
<script type="text/javascript" src="/scripts/comments.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/jquery_comments/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="mt-5" id="comments-container"></div>
