<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Yellow Brick Code</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="btn btn-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
          <a class="btn btn-link" href="/problems">Problems</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="g-signin2" id="signin-link" data-onsuccess="onSignIn"></div>
      </li>
      <li class="nav-item">
        <a class="btn btn-link" href="#" id="profile-link" hidden>Profile</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-link" href="#" onclick="signOut();" id="signout-link" hidden>Sign out</a>
      </li>
    </ul>
  </div>
</nav>
