<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script src="/scripts/darkmode.js"></script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Yellow Brick Code</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/problems">Problems</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="g-signin2" id="signin-link" data-onsuccess="onSignIn"></div>
      <a class="nav-link" href="#" id="profile-link" hidden>Profile</div>
      <a class="nav-link" href="#" onclick="signOut();" id="signout-link" hidden>Sign out</a>
    </form>
  </div>
</nav>
