<h5 class="card-title">Editor Shortcuts</h5>
<p class="card-text">
  Useful shortcuts for the editor.
</p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Auto Indent</h5>
    <p class="card-text">
      Shift + Tab
      <br>
      Auto indent current line or selected block of code.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Auto Complete</h5>
    <p class="card-text">
      Ctrl + Space
      <br>
      Suggests a list of possible words to complete your currently typed word.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Jump to Line</h5>
    <p class="card-text">
      Alt + G
      <br>
      Jump to a line and character position.
      <br>
      Ex: 5:32 jumps to line 5 at character 32.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Search / Replace</h5>
    <p class="card-text">
      Ctrl + F : Start searching
      <br>
      Ctrl + G : Find next
      <br>
      Ctrl + Shift + G : Find previous
      <br>
      Ctrl + Shift + F : Replace
      <br>
      Ctrl + Shift + R : Replace all
    </p>
  </div>
</div>
