<h5 class="card-title">JavaScript Syntax</h5>
<p class="card-text">
  Quick reference for those that do not use JavaScript often.
</p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Displaying Output</h5>
    <code>
      alert('Hello there!');
    </code>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Testing</h5>
    <code>
      assert(1 == 2, 'Assertion failed!');
    </code>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Conditional</h5>
    <code>
      if (num >= 100) {
        &ensp;doStuff();
      } else {
        &ensp;doOtherStuff();
      }
    </code>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Loop</h5>
    <code>
      for (var i = 0; i < n; i++) {
        &ensp;alert(i);
      }

      while (n >= 0) {
        &ensp;alert(n);
        &ensp;n--;
      }
    </code>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Function</h5>
    <code>
      function multiply(x, y) {
      &ensp; return x * y;
      }

      alert(multiply(2, 5));
    </code>
  </div>
</div>
