<h5 class="card-title">Tips</h5>
<p class="card-text">
  Useful tips to make your experience better.
</p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Highlight</h5>
    <p class="card-text">
      Noticed highlights that are shown when you run your code?<br>
      Those highlights indicate the section of your code that are being interpreted by the JavaScript interpreter.<br>
      <br>
      Play close attention to better see the flow of you code, and maybe pick up a thing or two about how interpreter works!
    </p>
  </div>
</div>
