<link rel="stylesheet" href="/stylesheets/aboutUs.css">

<div class="card-wrapper row">
    <div class="card col">
        <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
        <img src="" alt="profile image" class="profile-img">
        <h1>La'Zshane'</h1>
        <p class="job-title">STEP Intern</p>
        <p class="about">
            She is a rising Junior at Hampton University majoring 
            in Computer Science Cybersecurity and minoring in Leadership Studies. 
        </p>
        <a href="#" class="btn">Learn more!</a>
        <ul class="social-media">
            <li><a href="https://www.facebook.com/lazshane.hoskins"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/lala_adasia"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.instagram.com/lala_adasia"><i class="fab fa-instagram-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/la-zshane-hoskins-40ba75172/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>