html, body {
  height: 100%;
  min-height: 100%;
}

.fill { 
  height: calc(100vh - 3.5rem);
}

.CodeMirror {
  height: 100%;
}

.highlighted { 
  background-color: #FDDF7E; 
}

.pre-scrollable {
  max-height: 100%;
}
