/* Set z-indexes to make sure images aren't inverted */
img {
  max-height: 350px;
  z-index: 1300;
}

.darkmode-layer, .darkmode-toggle {
  z-index: 1200;
}

.modal {
  z-index: 1400;
}

.form-group .CodeMirror {
  height: 200px;
}
