<link rel="stylesheet" href="/stylesheets/about_us.css">

<div class="container">
    <h1 class="heading">Meet The Creators</h1>
    <p>
        Interning for Google in the summer of 2020, we were assigned to create and design a web application that 
        aligned with Google's mission - "Organize the world's information and make it universally accessible and useful".
        With this being the task at hand, we worked together to build Yellow Brick Code! 
    </p>
    <div class="card-wrapper row">
        <!--La'Zshane's Card-->
        {{>us 
            img='/html/images/Noogler.jpeg'
            name='LaZshane Hoskins' 
            info='LaZshane is a rising Junior at Hampton University.
                  She is majoring in Computer Science Cybersecurity
                  and minoring in Leadership Studies.'
            facebook='https://www.facebook.com/lazshane.hoskins'
            twitter='https://twitter.com/lala_adasia'
            instagram='https://www.instagram.com/lala_adasia'
            linkedin='https://www.linkedin.com/in/la-zshane-hoskins-40ba75172/'
        }}
        <!--Ife's Card-->
        {{>us
            name='Ife Omidiran' 
            info='Ife is a rising Junior at Harvard University.'
                  
            facebook=''
            twitter=''
            instagram=''
            linkedin='https://www.linkedin.com/in/ifeomi/'
        }}
        <!--Nick's Card-->
        {{>us
            name='Nick Husin' 
            info='Nick is a rising junior '
            facebook=''
            twitter=''
            instagram=''
            linkedin='https://www.linkedin.com/in/nicholas2750/'
        }}
    </div>
</div>