<link rel="stylesheet" href="/stylesheets/aboutUs.css">

<section>
    <div class="container">
        <h1 class="heading">Meet The Creators</h1>
        <p>Tasked with creating a web application that align with Google's mission,</p>
        <div class="card-wrapper">
            <!--La'Zshane's Card-->
            <div class="card">
                <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
                <img src="" alt="profile image" class="profile-img">
                <h1>La'Zshane'</h1>
                <p class="job-title">STEP Intern</p>
                <p class="about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn">Learn more!</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>

            <!--Ife's Card-->
            <div class="card">
                <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
                <img src="" alt="profile image" class="profile-img">
                <h1>Ife</h1>
                <p class="job-title">STEP Intern</p>
                <p class="about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn">Learn more!</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>

            <!--Nick's Card-->
            <div class="card">
                <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
                <img src="" alt="profile image" class="profile-img">
                <h1>Nick</h1>
                <p class="job-title">STEP Intern</p>
                <p class="about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn">Learn more!</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>