<link rel="stylesheet" href="/stylesheets/aboutUs.css">

<div class="container">
    <h1 class="heading">Meet The Creators</h1>
    <p>
        Interning for Google in the summer of 2020, we were assigned to create and design a web application that 
        aligned with Google's mission - "Organize the world's information and make it universally accessible and useful".
        With this being the task at hand, we worked together to build Yellow Brick CODE! 
    </p>
    <div class="card-wrapper row">
        <!--La'Zshane's Card-->
        {{>usL}}
        <!--Ife's Card-->
        {{>usI}}
        <!--Nick's Card-->
        {{>usN}}
    </div>
</div>