<link rel="stylesheet" href="/stylesheets/aboutUs.css">

<div class="container">
    <h1 class="heading">Meet The Creators</h1>
    <p>
        Interning for Google in the summer of 2020, we were assigned to create and design a web application that 
        aligned with Google's mission - "Organize the world's information and make it universally accessible and useful".
        With this being the task at hand, we worked together to build Yellow Brick CODE! 
    </p>
    <div class="card-wrapper row">
        <!--La'Zshane's Card-->
        {{>us}}
        <!--Ife's Card-->
        <div class="card col">
            <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
            <img src="" alt="profile image" class="profile-img">
            <h1>Ife</h1>
            <p class="job-title">STEP Intern</p>
            <p class="about">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <a href="#" class="btn">Learn more!</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ifeomi/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>

        <!--Nick's Card-->
        <div class="card col">
            <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
            <img src="" alt="profile image" class="profile-img">
            <h1>Nick</h1>
            <p class="job-title">STEP Intern</p>
            <p class="about">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <a href="#" class="btn">Learn more!</a>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nicholas2750/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>