<div class="container mt-5">
  <div class="media">
    <div class="media-body">
      <h1 class="mt-0">Learn how to write cleaner code with Yellow Brick Code</h1>
      <h2 class="text-muted"></h2>
      <p>Yellow Brick Code is a web app that aims to teach coders to write healthy and maintainable
      code. Practice your coding skills by submitting your solution to a coding problem, then
      see how your solution compares to others based on its complexity.</p>
      <p>Our goal is to enable any programmer to learn how to write readable code like a software engineer;
      empowering coders to identify and get rid of the bad habits that come with learning how to code, or
      preventing the start of bad habits. This platform is designed for programmers who know the basics of
      coding, but want to practice writing cleaner code.</p>
    </div>
    <img class="ml-3" src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code">
  </div>
</div>