<div class="row fill no-gutters">

  <div class="col-3">
    <div class="card fill">
      <div class="card-header">
        Submit your solution in Javascript.
        <br>
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="problem-tab" data-toggle="tab" href="#problem" role="tab" aria-controls="problem" aria-selected="true">Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="syntax-tab" data-toggle="tab" href="#syntax" role="tab" aria-controls="syntax" aria-selected="false">Syntax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="shortcuts-tab" data-toggle="tab" href="#shortcuts" role="tab" aria-controls="shortcuts" aria-selected="false">Shortcuts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tips-tab" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" aria-selected="false">Tips</a>
          </li>
        </ul>
      </div>
      <div class="card-body pre-scrollable">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="problem" role="tabpanel" aria-labelledby="problem-tab">
            <h5 class="card-title" id="question-title">{{ question-title }}</h5>
            <pre class="card-text" id="question-text">{{ question-text }}</pre>
          </div>

          <div class="tab-pane fade" id="syntax" role="tabpanel" aria-labelledby="syntax-tab">
            {{> syntax}}
          </div>

          <div class="tab-pane fade" id="shortcuts" role="tabpanel" aria-labelledby="shortcuts-tab">
            {{> shortcuts}}
          </div>

          <div class="tab-pane fade" id="tips" role="tabpanel" aria-labelledby="tips-tab">
            {{> tips}}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-6" id="code-area"></div>
  <input type="hidden" id="initial-code" value="{{ initial-code }}">

  <div class="col-3">
    <div class="card fill">
      <div class="card-header">
        <div class="btn-group mb-3" role="group">
          <div class="ml-1">
            <button type="button" id="run-button" class="btn btn-success">Run</button>
            <button type="button" id="stop-button" class="btn btn-danger" hidden>Stop</button>
          </div>
          <div class="ml-1">
            <button type="button" id="submit-button" class="btn btn-primary">Submit</button>
            <div class="spinner-border" role="status" hidden>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="ml-1">
            <button type="button" id="reset-button" class="btn btn-info">Reset</button>
          </div>
          <div class="ml-1">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="keybind-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keybinding
              </button>
              <div class="dropdown-menu" aria-labelledby="keybind-dropdown">
                <button class="dropdown-item keybind">Default</button>
                <button class="dropdown-item keybind">Sublime</button>
                <button class="dropdown-item keybind">Vim</button>
                <button class="dropdown-item keybind">Emacs</button>
              </div>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="true">Output</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false">Analysis</a>
          </li>
        </ul>
      </div>
      <div class="card-body pre-scrollable">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="output" role="tabpanel" aria-labelledby="output-tab">
            <pre id="code-output"></pre>
          </div>
          <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
            <p id="analysis-output"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
