<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yellow Brick Code</title>
    
    <!--Google Sign in-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1044127873768-lqem54d3ke8hfanpakvb9f88ptlmton4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/scripts/auth.js" type="module" ></script>

    <!-- CodeMirror, Interpreter, and JSHint JavaScript imports -->
    <script src="/lib/codemirror/lib/codemirror.js"></script>
    <script src="/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="/lib/codemirror/addon/lint/lint.js"></script>
    <script src="/lib/codemirror/addon/lint/javascript-lint.js"></script>
    <script src="/lib/codemirror/keymap/sublime.js"></script>
    <script src="/lib/codemirror/keymap/vim.js"></script>
    <script src="/lib/codemirror/keymap/emacs.js"></script>
    <script src="/lib/codemirror/addon/dialog/dialog.js"></script>
    <script src="/lib/codemirror/addon/search/searchcursor.js"></script>
    <script src="/lib/codemirror/addon/search/search.js"></script>
    <script src="/lib/codemirror/addon/search/jump-to-line.js"></script>
    <script src="/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="/lib/js_interpreter/acorn_interpreter.js"></script>
    <script src="/lib/jshint-2.11.1/jshint.js"></script>
    <script src="/scripts/solve.js" type="module"></script> 


    <!-- CodeMirror CSS imports -->
    <link rel="stylesheet" href="/lib/codemirror/addon/lint/lint.css">
    <link rel="stylesheet" href="/lib/codemirror/addon/dialog/dialog.css">
    <link rel="stylesheet" href="/lib/codemirror/addon/hint/show-hint.css">
    
    
    <!-- BootStrap JavaScript imports -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- BootStrap CSS imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
    
    <!--Our personal stylings-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/solve.css">

  </head>
  <body>
    {{>nav}}
    {{>register}}
    {{{body}}}
  </body>
</html>
